@model IEnumerable<Preacepta.Modelos.AbstraccionesFrond.CitasDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Citas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           <th>@Html.DisplayNameFor(model => model.IdCita)</th>
            <th>@Html.DisplayNameFor(model => model.Fecha)</th>
            <th>@Html.DisplayNameFor(model => model.Hora)</th>
            <th>@Html.DisplayNameFor(model => model.IdTipoCita)</th>
            <th>@Html.DisplayNameFor(model => model.Anfitrion)</th>
            <th>@Html.DisplayNameFor(model => model.LinkVideo)</th>
            <th>@Html.DisplayNameFor(model => model.NombreTipoCita)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>@Html.DisplayFor(modelItem => item.IdCita)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                    <td>@Html.DisplayFor(modelItem => item.Hora)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdTipoCita)</td>
                    <td>@Html.DisplayFor(modelItem => item.Anfitrion)</td>
                    <td>
                    @if (!string.IsNullOrEmpty(item.LinkVideo))
                    {
                                <a href="@item.LinkVideo" target="_blank">Ver Link</a>
                    }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.NombreTipoCita)</td>
                    <td>
                <a asp-action="Edit" asp-route-id="@item.IdCita">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCita">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCita">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
