@model Preacepta.Modelos.AbstraccionesFrond.CasosEvidenciaDTO
@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Eliminar</h1>

<h3>Esta seguro que desea eliminar esta evidencia?</h3>
<div>
    <h4>Modulo de Evidencias del Caso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Archivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Archivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCaso1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCaso1.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCasoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCasoNavigation.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEvidencia" />
        <input type="submit" value="Eliminar" class="btn btn-danger" style=" width: 115px; height: 40px;" />
    </form>

    <div class="form-group">
        <a asp-action="Index" class="btn btn-info" style="width: 115px; height: 40px; text-align: center; line-height: 26px;">Regresar</a>
    </div>

</div>
