@using Praecepta.UI.Models.ModuloCasos
@model IEnumerable<ModelCasos>
<!-- Page Title -->
<div class="page-title-area page-title-area-two title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Casos Legales Activos</h2>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <i class="icofont-simple-right"></i>
                    </li>
                    <li>Casos</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />

<div class="formulario contact-form contact-form-two">
    <div class="container">
        <div class="contact-wrap">
            <form id="FormularioCaso" class="">
                <h2>Lista de casos</h2>
                <div class="row justify-content-center">                   
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group">
                            <input name="BusquedaCaso" class="form-control" id="BusquedaCaso"  required data-error="Write your message" placeholder="Filtrar por numero de caso"></input>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="text-center">                            
                            <button type="button" id="BtnBuscarCaso" class="contact-btn">
                                Filtrar
                            </button>                           
                        </div>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="contact-form contact-form-two contact-form-three">
    <div class="container">
        <div class="contact-wrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(Model => Model.NumCaso)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.Abogado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.AbogadoLicencia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.TipoCaso)
                        </th>               
                        <th>Proceso Legal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.NumCaso
                            </td>
                            <td>
                                @item.Abogado
                            </td>
                            <td>
                                @item.AbogadoLicencia
                            </td>
                            <td>
                                @item.TipoCaso
                            </td>
                            <td>
                                <a class="cmn-btn" asp-controller="GestionCasos" asp-action="EtapasPL"><img width="30" src="~/lyso/fonts/png/court.png" /></a>
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="help-shape">
                <img src="~/lyso/img/home-one/6.png" alt="Shape">
            </div>
        </div>
    </div>
</div>
