@model IEnumerable<Preacepta.Modelos.AbstraccionesFrond.CasosEtapaDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Etapas de los casos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear una nueva etapa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCasoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCasoNavigation.Nombre)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEtapaPl" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdEtapaPl" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdEtapaPl" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
