@model Preacepta.Modelos.AbstraccionesFrond.DocsAutorizacionRevisionExpedienteDTO

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TDocsAutorizacionRevisionExpediente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expediente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expediente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ofendido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ofendido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaAbogadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaAbogadoNavigation.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaAsistenteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaAsistenteNavigation.Apellido1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaImputadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaImputadoNavigation.Apellido1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDocumento" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
