@model Preacepta.Modelos.AbstraccionesFrond.DocsPagareDTO

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>TDocsPagare</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoNumerico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoNumerico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SociedadDeudor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SociedadDeudor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaJuridicaSociedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaJuridicaSociedad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcreedorNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcreedorNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaJuridicaAcreedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaJuridicaAcreedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcreedorDomicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcreedorDomicilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFirma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFirma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFirma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraFirma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteresFormula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteresFormula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteresTasaActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteresTasaActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteresBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteresBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UbicacionFirma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UbicacionFirma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaDeudorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaDeudorNavigation.Apellido1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaFiadorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaFiadorNavigation.Apellido1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LugarPagoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LugarPagoNavigation.NombreDistrito)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDocumento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
