@using Praecepta.UI.Models
@model IEnumerable<Preacepta.Modelos.AbstraccionesFrond.CitasDTO>

<head>
    <link href="~/calendario/stylecalendar.css" rel="stylesheet" />
    <link href="~/calendario/calendardaniel.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <title>Calendar with Events</title>
</head>

<!-- Page Title -->
<div class="page-title-area page-title-area-two title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Calendario y eventos</h2>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Calendario</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<div style="margin-bottom:10px; margin-top:10px" class="containerCalendar">
    <div class="left">
        <div class="calendar">
            <div class="month">
                <i class="fas fa-angle-left prev"></i>
                <div class="date">december 2015</div>
                <i class="fas fa-angle-right next"></i>
            </div>
            <div class="weekdays">
                <div>Domingo</div>
                <div>Lunes</div>
                <div>Martes</div>
                <div>Miércoles</div>
                <div>Jueves</div>
                <div>Viernes</div>
                <div>Sabado</div>
            </div>
            <div class="days"></div>
            <div class="goto-today">
                <div class="goto">
                    <input type="text" placeholder="mm/aaaa" class="date-input" />
                    <button class="goto-btn">Ir</button>
                </div>
                <button class="today-btn">Hoy</button>
            </div>
        </div>
    </div>

    <div class="right">
        <div class="today-date">
            <div class="event-day">Mie</div>
            <div class="event-date">12th diciembre 2022</div>
        </div>

        <div class="events">
            @foreach (var cita in Model)
            {
                <div class="event" data-id="@cita.IdCita">
                    <span>@cita.NombreTipoCita</span>
                </div>
            }
        </div>

        <div style="display: flex; gap: 10px; align-items: center;">
            <button class="add-event" id="btnAbrirModal" title="Crear nueva cita">
                <i class="fas fa-plus"></i>
            </button>

            <button id="btnAbrirModalReunion" class="add-event" title="Programar Videollamada" style="right: 110px;"> 
                <i class="fas fa-video"></i>
            </button>
            <div id="modalContainer"></div>
        </div>
    </div>
</div>

<div class="formulario contact-form contact-form-two contact-form-three">
    <div class="container">
        <div class="contact-wrap" style="display: flex; justify-content: center; align-items: center;">
            <button style="margin-right: 5px" type="button" id="PrevioBtn" class="contact-btn" data-bs-toggle="modal" data-bs-target="#ModalCitasPasadas">
                Citas Pasadas
            </button>
            <button style="margin-left: 5px" type="button" id="PrevioBtn" class="contact-btn" data-bs-toggle="modal" data-bs-target="#ModalCitasFuturas">
                Citas Futuras
            </button>
        </div>
    </div>
</div>


<!-- Modal para crear cita -->
<div class="modal fade" id="crearCitaModal" tabindex="-1" role="dialog" aria-labelledby="crearCitaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearCitaLabel">Crear Nueva Cita</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Aquí se cargará el contenido del formulario -->
            <div class="modal-body" id="crearCitaModalBody"></div>
        </div>
    </div>
</div>

<!-- Modal para Detalles de Cita -->
<div id="modalDetalleCita" class="custom-modal" style="display:none;">
    <div class="custom-modal-content">
        <div class="custom-modal-header">
            <h5 class="modal-title">Detalles de la Cita</h5>
            <button type="button" id="cerrarDetalleCita" class="close">&times;</button>
        </div>
        <div id="detalleCitaBody" class="modal-body">
            <!-- Aquí se cargará el contenido de los detalles -->
        </div>
    </div>
</div>

<!-- Modal Editar Cita -->
<div class="modal fade" id="modalEditarCita" tabindex="-1" role="dialog" aria-labelledby="modalEditarCitaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarCitaLabel">Editar Cita</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="editarCitaBody">
                <!-- Aquí se cargará dinámicamente el partial view _EditPartial -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEliminarCita" tabindex="-1" aria-labelledby="modalEliminarCitaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="modalEliminarCitaLabel">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar esta cita?</p>
                <input type="hidden" id="idCitaEliminar" />
            </div>
            <div class="modal-footer">
                @Html.AntiForgeryToken()
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" onclick="confirmarEliminarCita()">Eliminar</button>
            </div>
        </div>
    </div>
</div>


<div id="modalContainer"></div>



<!-- Modal Citas Futuras -->
<div class="modal fade" id="ModalCitasFuturas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg DanielModalCitasFuturas">
        <div class="modal-content" style="color:black">
            <div class="formulario contact-form contact-form-two">
                <div class="container">
                    <div class="contact-wrap">
                        <h2>Revisión de datos ingresados</h2>
                        <table id="tablaCitasFuturas" class="table">
                            <thead>
                                <tr>
                                    <th>ID Cita</th>
                                    <th>Fecha y Hora</th>
                                    <th>Tipo de Cita</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var fechaCompleta = new DateTime(item.Fecha.Year, item.Fecha.Month, item.Fecha.Day, item.Hora.Hour, item.Hora.Minute, 0);
                                    if (fechaCompleta >= DateTime.Now)
                                    {
                                        <tr>
                                            <td>@item.IdCita</td>
                                            <td>@($"{item.Fecha:dd/MM/yyyy} {item.Hora:HH:mm}")</td>
                                            <td>@item.NombreTipoCita</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="modal-footer">
                            <button type="button" class="contact-btn" data-bs-dismiss="modal" id="Retroceso">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Citas Pasadas -->
<div class="modal fade" id="ModalCitasPasadas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="formulario contact-form contact-form-two">
                <div class="container">
                    <div class="contact-wrap">
                        <h2>Revisión de datos ingresados</h2>
                        <table id="tablaCitasPasadas" class="table">
                            <thead>
                                <tr>
                                    <th>ID Cita</th>
                                    <th>Fecha y Hora</th>
                                    <th>Tipo de Cita</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var fechaCompleta = new DateTime(item.Fecha.Year, item.Fecha.Month, item.Fecha.Day, item.Hora.Hour, item.Hora.Minute, 0);
                                    if (fechaCompleta < DateTime.Now)
                                    {
                                        <tr>
                                            <td>@item.IdCita</td>
                                            <td>@($"{item.Fecha:dd/MM/yyyy} {item.Hora:HH:mm}")</td>
                                            <td>@item.NombreTipoCita</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="modal-footer">
                            <button type="button" class="contact-btn" data-bs-dismiss="modal" id="Retroceso">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/calendario/scriptcalendar.js"></script>
    <script src="~/lyso/js/programarReunion.js"></script>
    <script src="~/lyso/js/Calendar-init.js"></script>
}
<script>
    const fechasConCita = [
    @foreach (var cita in Model)
    {
        <text>"@cita.Fecha.ToString("yyyy-MM-dd")",</text>
    }
        ];
</script>
