@model IEnumerable<Preacepta.Modelos.AbstraccionesFrond.GeAbogadoDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Abogados</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Registrar un nuevo Abogado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Carnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CJuridicaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoAbogadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Carnet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CJuridicaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoAbogadoNavigation.Nombre)
            </td>
            <td>
                <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.Cedula" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Cedula" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Cedula" class="btn btn-danger">Eliminar</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
